.tatle{
    background-color: rgb(158, 158, 194); 
    padding: 20px 0px; 
    text-align: center;
    font-size: 30px;
     
}
.tatle1{
    background-color: rgb(236, 234, 78); 
    padding: 20px 0px; 
    text-align: center;
    font-size: 30px;
     
}